/* #region Обнуление стиля*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;}
input[type='number'] {-moz-appearance:textfield;}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* #endregion Обнуление стиля*/

@media (min-width: 0px) {
    .index_grid {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    
    .table-of-contents {
        position: fixed;
        background: #000;
        z-index: 20;
    }
    
    .device_vertical {
    }

    .device_horizontal {
        display: none;
    }


    .slide {
        height: 100vh;
        width: 80vw;

        overflow: hidden;
    }

    .slide > * {
    } 
    
    td {
        text-align: center;
    }
}

@media (min-width: 600px) {
    .device_vertical {
        display: none;
    }
    .device_horizontal {
        display: flex;
        flex-direction: column;
        
        height: 100vh;
        width: 15vw;
    }

    .device_horizontal a {
        margin: 0 1vw 5vh 1vw;

    }
    .table-of-contents {
    }

    main {
        margin: 0 0 0 22vw;
        display: flex;
    }

    .slide {
        min-width: 100vw;
        transition: all 2s ease-in-out;
    }
}

a[id="who"]:target ~ #slides article.slide {
    -webkit-transform: translateX( 0px);
    transform: translateX( 0px );
}

a[id="bio"]:target ~ #slides article.slide {
    -webkit-transform: translateX( -100vw );
    transform: translateX( -100vw );
}
a[id="school"]:target ~ #slides article.slide {
    -webkit-transform: translateX( -200vw );
    transform: translateX( -200vw );
}
a[id="ideas"]:target ~ #slides article.slide {
    -webkit-transform: translateX( -300vw );
    transform: translateX( -300vw );
}
a[id="my"]:target ~ #slides article.slide {
    -webkit-transform: translateX( -400vw );
    transform: translateX( -400vw );
}
